<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-success">
                        <h3 class="card-title">Pacientes</h3>
                        <br>
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#lista" data-toggle="tab">
                                            <i class="material-icons">list</i> Lista
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#cadastro" data-toggle="tab">
                                            <i class="material-icons">exposure_plus_1</i> Cadastro
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="lista">
                                <table class="table" *ngIf="patients.length > 0">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Nome</th>
                                            <th>CPF</th>
                                            <th>Data de cadastro</th>
                                            <th class="text-right">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let patient of patients">
                                            <td class="text-center">{{patient.id}}</td>
                                            <td>{{patient.name}}</td>
                                            <td>{{patient.document | mask: '000.000.000-00'}}</td>
                                            <td>{{patient.creationDate | date: 'dd/MM/yyyy'}}</td>
                                            <td class="td-actions text-right" style="float: right;">
                                                <button type="button" rel="tooltip"
                                                    (click)="excluirPaciente(patient.id)"
                                                    class="btn btn-danger btn-round">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="cadastro">
                                <form [formGroup]="formPaciente" (ngSubmit)="cadastrarPaciente()">
                                    <div class="form-group label-floating has-success">
                                        <label>Nome</label>
                                        <input formControlName="nome" type="text" class="form-control"
                                            placeholder="Digite seu nome">
                                    </div>
                                    <div class="form-group label-floating has-success">
                                        <label>CPF</label>
                                        <input formControlName="cpf" mask="000.000.000-00" type="text"
                                            class="form-control" placeholder="Digite seu cpf">
                                    </div>
                                    <button type="submit" [disabled]="!formPaciente.valid"
                                        class="btn btn-success">Cadastrar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>