table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.dashboard-container {
    height: 400px;
    overflow: auto;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
