<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-success">
            <h3 class="card-title">Médicos</h3>
            <br>
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#lista" data-toggle="tab">
                      <i class="material-icons">list</i> Lista
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#cadastro" data-toggle="tab">
                      <i class="material-icons">exposure_plus_1</i> Cadastro
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="lista">
                <table class="table" *ngIf="doctors.length > 0">
                  <thead>
                    <tr>
                      <th class="text-center">#</th>
                      <th>Nome</th>
                      <th>CRM</th>
                      <th>Email</th>
                      <th>Data de Cadastro</th>
                      <th class="text-right">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let doctor of doctors">
                      <td class="text-center">{{doctor.id}}</td>
                      <td>{{doctor.name}}</td>
                      <td>{{doctor.code}}</td>
                      <td>{{doctor.email}}</td>
                      <td>{{doctor.creationDate | date: 'dd/MM/yyyy'}}</td>
                      <td class="td-actions text-right" style="float: right;">
                        <button type="button" rel="tooltip" (click)="excluirMedico(doctor.id)"
                          class="btn btn-danger btn-round">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="cadastro">
                <form [formGroup]="formMedico" (ngSubmit)="cadastrarMedico()">
                  <div class="form-group label-floating has-success">
                    <label>Nome</label>
                    <input formControlName="nome" type="text" class="form-control" placeholder="Digite seu nome">
                  </div>
                  <div class="form-group label-floating has-success">
                    <label>E-mail</label>
                    <input formControlName="email" type="email" class="form-control" placeholder="Digite seu e-mail">
                  </div>
                  <div class="form-group label-floating has-success">
                    <label>CRM</label>
                    <input formControlName="codigo" mask="00000" type="text" class="form-control"
                      placeholder="Digite o CRM">
                  </div>
                  <button type="submit" class="btn btn-success" [disabled]="!formMedico.valid">Cadastrar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>