<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-success">
            <h3 class="card-title">Agenda</h3>
            <br>
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#lista" data-toggle="tab">
                      <i class="material-icons">calendar_today</i> Agenda
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#cadastro" data-toggle="tab">
                      <i class="material-icons">exposure_plus_1</i> Cadastrar Item
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="lista">
                <full-calendar *ngIf="options" #fullcalendar [editable]="true" [header]="options.header"
                  [customButtons]="options.customButtons" [plugins]="options.plugins" [events]="calendarEvents"
                  (eventClick)="eventClick($event)">
                </full-calendar>
              </div>
              <div class="tab-pane" id="cadastro">
                <form [formGroup]="formAgenda" (ngSubmit)="cadastrarItem()">
                  <div class="form-group label-floating has-success">
                    <label>Descrição</label>
                    <input type="text" formControlName="descricao" class="form-control"
                      placeholder="Digite uma breve descrição sobre o evento.">
                  </div>
                  <div class="form-group label-floating has-success">
                    <label>Data do evento:</label>
                    <input type="date" formControlName="dataEvento" class="form-control"
                      placeholder="Informe uma data para o evento.">
                  </div>
                  <div class="form-group">
                    <label>Tipo de evento:</label>
                    <div class="form-check form-check-radio label-floating has-success">
                      <label class="form-check-label">
                        <input formControlName="tipoEvento" class="form-check-input" type="radio" name="tipoEvento"
                          id="consultaRadio" value="1" checked>
                        Consulta Médica
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    <div class="form-check form-check-radio">
                      <label class="form-check-label">
                        <input formControlName="tipoEvento" class="form-check-input" type="radio" name="tipoEvento"
                          id="lembreteRadio" value="2">
                        Lembrete
                        <span class="circle">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                  </div>
                  <br>
                  <div class="alert alert-primary" role="alert">
                    As consultas médicas serão visualizadas na cor verde, já os lembretes, na cor azul.
                  </div>
                  <br>
                  <button type="submit" class="btn btn-success" [disabled]="!formAgenda.valid">Cadastrar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>